body {
	background-color: #121212;
	color: #ffffff;
	font-family: Arial, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0 20px;
}

header h1 {
	color: #76ff03;
	text-align: center;
	padding: 20px 0;
}

a {
	color: #76ff03;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input[type="text"],
input[type="checkbox"] {
	background-color: #1e1e1e;
	color: #ffffff;
	border: 1px solid #333;
	padding: 5px;
	margin: 5px 0;
}

input[type="text"]:focus {
	border-color: #76ff03;
	/* Green border when focused */
	outline: none;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin-bottom: 20px;
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 5px;
}

li strong {
	color: #76ff03;
}

input {
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

input[type="checkbox"] {
	width: unset;
}

#filterByTags {
	display: none;
}

#allTags {
	display: none;
}

#filterByTags:checked~#allTags {
	display: block;
}

#hideTags {
	display: none;
}

#filterByTags:checked~label #hideTags {
	display: inline;
}

#filterByTags:checked~label #showTags {
	display: none;
}

.button {
	background-color: #555;
	border-radius: 4px;
	padding: 5px;
	margin: 5px;
	border: 1px solid #aaa;
}

.checkboxContainer {
	margin: 10px 0;
	color: #aaaaaa;
	/* Light gray text for non-essential elements */
}

.tag {
	background-color: #333;
	color: #76ff03;
	border-radius: 3px;
	padding: 2px 5px;
	font-size: 0.9em;
	display: inline-block;
	margin: 2px;
	cursor: pointer;
	transition: background-color 0.2s;
}

.tag:hover {
	background-color: #eee;
	color: #333;
}

.selected-tags {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.selected-tag {
	background-color: #333;
	color: #76ff03;
	display: flex;
	align-items: center;
	padding: 5px 10px;
	margin: 5px 5px 0 0;
	border: 1px solid #aaa;
	border-radius: 4px;
}

.selected-tag span {
	margin-right: 5px;
}

.remove-tag {
	cursor: pointer;
	color: red;
	margin-left: 5px;
}
